# Ignore everything by default
/*

# Allow only src and public folders
!src/
!public/
!.gitignore
!README.md
!package.json
!.env.example

# Recursively allow files in src and public
!src/**
!public/**
